 .game-container {
    margin: 16px;
 }

 .stats, .hand-label {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 16px;
 }

 .playingCards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
 }

.card.back {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border: 1px solid silver;
    border-radius: 10px;
    object-fit: none;
}

.card.flipped {
    transform: rotateY(180deg);
}
  